<div class="container">
    <div class="row">
        <div class="col-md-9 card p-2 container mt-3">
        <h1 class="text-center">נתונים לצורך בדיקות</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <app-phone-generator></app-phone-generator>
            </div>
            <div class="card p-3">
                <app-id-generator></app-id-generator>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <app-car-id-genrator></app-car-id-genrator>
            </div>
            <div class="card p-3">
                <app-address-generator></app-address-generator>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <app-real-car-id-from-data-gov></app-real-car-id-from-data-gov>
            </div>
        </div>
    </div>
</div>
